# Data Type and Structures

1.  What are data structures, and why are they important?
  - **Data structures** are ways to organize and store data for efficient access and modification. They're important because they help improve performance, manage data logically, and enable efficient problem-solving in programming.

2.  Explain the difference between mutable and immutable data types with examples.
    - **Mutable** data types can be changed after creation (e.g., `list`, `dict`), while **immutable** data types cannot be changed (e.g., `str`, `int`, `tuple`).

3.  What are the main differences between lists and tuples in Python?
    - **Lists** are mutable, use `[]`, and have more methods.
  **Tuples** are immutable, use `()`, and are faster and used for fixed data.

4. Describe how dictionaries store data.
   - **Dictionaries** store data as **key-value pairs** in a structure called a **hash table**.

    * Each **key** is unique and is used to access its **value**.
    * Keys are hashed to find their location in memory quickly.

     **Example**:

     my_dict = {"name": "Alice", "age": 25}

    * `"name"` and `"age"` are keys.
    * `"Alice"` and `25` are their values.

     Dictionaries allow **fast lookup**, insertion, and deletion (average case: O(1)).

5.  Why might you use a set instead of a list in Python?

  - You might use a set instead of a list when:

  - You need to store unique items (sets automatically remove duplicates).

  - You want faster membership testing (in is faster in sets than in lists).

  - You plan to perform set operations like union, intersection, or difference.

6. What is a string in Python, and how is it different from a list?
   
   - A **string** is an **immutable** sequence of **characters**.
  
   - A **list** is a **mutable** sequence that can hold **any data type**.

7. How do tuples ensure data integrity in Python?
   - Tuples ensure data integrity in Python by being **immutable**, meaning once created, their contents **cannot be changed**. This prevents accidental modification of the data, keeping it safe and consistent throughout the program.

8. What is a hash table, and how does it relate to dictionaries in Python?
   - A **hash table** is a data structure that stores **key-value pairs** and uses a **hash function** to quickly find the location of a key in memory.

  - In Python, **dictionaries** are implemented using hash tables, which allows for **fast lookup, insertion, and deletion** of values by their keys.

9. Can lists contain different data types in Python?
   - Yes, lists in Python can contain different data types in the same list. For example:
  - my_list = [1, "hello", 3.14, True]

10.  Explain why strings are immutable in Python.
     - Strings are immutable in Python to:

     * **Ensure data integrity** (prevent accidental changes).
     * **Improve performance** (immutable objects can be safely shared and cached).
     * **Simplify memory management** and enable optimization techniques like string interning.

  Because strings don’t change, Python can handle them more efficiently.

11. What advantages do dictionaries offer over lists for certain tasks?
    - Dictionaries offer these advantages over lists for certain tasks:

    * **Fast lookups** by key (average O(1) time), while lists require searching (O(n)).
    * **Key-value pairing**, making data more meaningful and easier to access by identifiers.
    * **No order dependency** (in older Python versions) — great when order doesn’t matter.
    * Ability to use **non-integer keys** (like strings), unlike lists which use only integer indexes.
     **Use dictionaries when you need quick access via unique keys!**

12. Describe a scenario where using a tuple would be preferable over a list.
    - Using a **tuple** is preferable when you want to store **fixed, unchangeable data** that shouldn’t be modified, such as:

    * Coordinates like `(x, y)` points.
    * Days of the week.
    * Fixed configuration values.

      Because tuples are **immutable**, they protect the data from accidental changes and can be used as keys in dictionaries.

13. How do sets handle duplicate values in Python?
    - Sets in Python **automatically remove duplicate values**—when you add duplicates, only one copy is kept. This ensures all elements in a set are **unique**.

14.  How does the “in” keyword work differently for lists and dictionaries?
     - `in` checks **values** in lists but **keys** in dictionaries.

15. Can you modify the elements of a tuple? Explain why or why not.
    - No, you **cannot modify elements of a tuple** because tuples are **immutable**—once created, their contents cannot be changed.

16. What is a nested dictionary, and give an example of its use case?
    - A **nested dictionary** is a dictionary that contains other dictionaries as values. It’s used to organize complex data, like storing multiple attributes for each key.

17. Describe the time complexity of accessing elements in a dictionary.
    - Accessing elements in a dictionary has an average time complexity of **O(1)** (constant time) because it uses a hash table for fast key lookup.

18.  In what situations are lists preferred over dictionaries?
     - Lists are preferred over dictionaries when:
     * You need **ordered** collections.
     * You want to **store items by position/index**.
     * You have **duplicate values**.
     * You need to **iterate over items in order** or **perform slicing**.

     Basically, use lists for **simple, ordered sequences** and dictionaries for **key-based access**.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
    - Dictionaries were historically unordered, so items had no guaranteed order. This means you access data **by key**, not by position. (Since Python 3.7, insertion order is preserved but lookup is still key-based.)

20. Explain the difference between a list and a dictionary in terms of data retrieval.
    - **List** retrieves data by **index** (position), which is an integer.
    - **Dictionary** retrieves data by **key**, which can be any hashable type (like a string).

In [1]:
# Practical Question

In [2]:
#1  Write a code to create a string with your name and print it

name = "Shadab Alam"
print(name)

Shadab Alam

In [3]:
#2 Write a code to find the length of the string "Hello World".

string = "Hello World"
length = len(string)
print(length)

11

In [7]:
#3 Write a code to slice the first 3 characters from the string "Python Programming".

text = "Python Programming"
first_three = text[:3]
print(first_three)

Pyt

In [8]:
#4 Write a code to convert the string "hello" to uppercase.

text = "hello"
upper_text = text.upper()
print(upper_text)

HELLO

In [9]:
#5  Write a code to replace the word "apple" with "orange" in the string "I like apple".

text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)

I like orange

In [10]:
#6  Write a code to create a list with numbers 1 to 5 and print it

numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [11]:
#7 Write a code to append the number 10 to the list [1, 2, 3, 4].

numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [12]:
#8  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [13]:
#9 Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

letters = ['a', 'b', 'c', 'd']
second_element = letters[1]
print(second_element)

b

In [14]:
#10 Write a code to reverse the list [10, 20, 30, 40, 50].

numbers = [10, 20, 30, 40, 50]
reversed_numbers = numbers[::-1]
print(reversed_numbers)
#

[50, 40, 30, 20, 10]

In [15]:
#11 Write a code to create a tuple with the elements 100, 200, 300 and print it.

numbers = (100, 200, 300)
print(numbers)

(100, 200, 300)

In [16]:
#12 Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

colors = ('red', 'green', 'blue', 'yellow')
second_to_last = colors[-2]
print(second_to_last)

blue

In [17]:
#13  Write a code to find the minimum number in the tuple (10, 20, 5, 15).

numbers = (10, 20, 5, 15)
min_number = min(numbers)
print(min_number)

5

In [18]:
#14 Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

animals = ('dog', 'cat', 'rabbit')
cat_index = animals.index('cat')
print(cat_index)

1

In [19]:
#15 Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruits = ('apple', 'banana', 'cherry')
has_kiwi = 'kiwi' in fruits
print(has_kiwi)

False

In [20]:
#16 Write a code to create a set with the elements 'a', 'b', 'c' and print it.

letters = {'a', 'b', 'c'}
print(letters)

{'a', 'b', 'c'}

In [21]:
#17 Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

numbers = {1, 2, 3, 4, 5}
numbers.clear()
print(numbers)

set()

In [22]:
#18 Write a code to remove the element 4 from the set {1, 2, 3, 4}.

numbers = {1, 2, 3, 4}
numbers.remove(4)
print(numbers)

{1, 2, 3}

In [23]:
#19 Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [24]:
#20 Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

In [25]:
#21 Write a code to create a dictionary with the keys "name", "age", and "city", and print it

person = {"name": "Alice", "age": 25, "city": "New York"}
print(person)

{'name': 'Alice', 'age': 25, 'city': 'New York'}

In [26]:
#22 Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)
#

{'name': 'John', 'age': 25, 'country': 'USA'}

In [27]:
#23 Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

person = {'name': 'Alice', 'age': 30}
name_value = person['name']
print(name_value)

Alice

In [28]:
#24 Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person['age']
print(person)

{'name': 'Bob', 'city': 'New York'}

In [29]:
#25  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

person = {'name': 'Alice', 'city': 'Paris'}
has_city_key = 'city' in person
print(has_city_key)

True

In [30]:
#26 Write a code to create a list, a tuple, and a dictionary, and print them all.

# Create a list
my_list = [1, 2, 3]

# Create a tuple
my_tuple = (4, 5, 6)

# Create a dictionary
my_dict = {"a": 7, "b": 8}

# Print all
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3]
Tuple: (4, 5, 6)
Dictionary: {'a': 7, 'b': 8}

In [31]:
#27 Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

import random

# Create a list of 5 random numbers
random_numbers = [random.randint(1, 100) for _ in range(5)]

# Sort the list in ascending order
random_numbers.sort()

# Print the sorted list
print

In [32]:
#28 Write a code to create a list with strings and print the element at the third index.

strings = ["apple", "banana", "cherry", "date", "elderberry"]
third_element = strings[2]
print(third_element)

cherry

In [33]:
#29  Write a code to combine two dictionaries into one and print the result.

dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}

combined_dict = {**dict1, **dict2}

print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [34]:
#30 Write a code to convert a list of strings into a set.

strings = ["apple", "banana", "cherry", "date", "elderberry"]
string_set = set(strings)
print(string_set)

{'apple', 'elderberry', 'date', 'banana', 'cherry'}